.bg-light {
    background-image: url(/assets/pages/images/IMG_0143.JPG);
}

div .row {
    text-align: center;
}

.container {
    padding-top: 150px;
}

p {
    color:ivory;
    backdrop-filter: blur(10px);
}

.h2catering {
    color: ivory;
}

.navbar {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.contactbody {
    background-image: url(./pages/images/IMG_0143.JPG);
    background-size: 1500px 1700px;
    background-position: center;
    background-position: top;
}

.cateringbody {
    background-image: url(../assets/pages/images/IMG_7491.JPG);
    background-size: 1400px 800px;
    background-position: center;
    background-position: top;

}

.mainbody {
    background-image: url(./pages/images/IMG_1428.JPG);
    background-position: center;
    background-position: top;
    background-size: 1600px 1100px;
}